/*
?=============================================================================================
!Table of Content
?=============================================================================================

    ? 1 General Stylization
*/


/*
?=============================================================================================
? 1 General Stylization
*/

$primary: #232324;
$accent: #0076ec;

body{ 
    margin: 0;
    overflow: hidden;
}

.container{
    height: 100vmin;
    width: 100vmax;
    display: grid;
    grid-template-columns: 35vmax auto;
}

.background{
    background: #232324;
    display: flex;
    justify-content: center;

    div{
        position: relative;
    }

    h1{
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
        color: white;
        letter-spacing: 2vmin;
        font-size: 4vmax;
        white-space: nowrap;
        z-index: 1;
    }

    img{
        position: absolute;
        aspect-ratio: 1 / 1;
        height: 80vmin;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.content{
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
        text-align: center;
        letter-spacing: .75vmax;
    }

    button{
        width: 20vmax;
        height: 4vmin;
        margin: 1vmin auto;
        color: $accent;
        border: .5vmin solid $accent;
        border-radius: .5vmin;
    }
}

.update{
    aspect-ratio: 1 / 1;
    height: 8vmin;
    position: absolute;
    margin: 3vmin;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: .75vmin solid $accent;
    padding: 1vmin;
    background-color: aqua;
    display: flex;
    justify-content: center;

    p{
        color: black;
        margin: auto;
    }
}
